@import url("https://fonts.googleapis.com/css2?family=Autour+One&family=Goblin+One&family=Orelega+One&family=Poppins:wght@200;300;400;500;700&family=Young+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-track {
  background-color: #181a1f;
}
::-webkit-scrollbar-thumb {
  background-color: #475870cb;
  border-radius: 1em;
}

/* Navbar  */
.navbar {
  background-color: #181a1f;
}
.nav-link {
  text-decoration: none;
  position: relative;
  font-size: 14px;
  font-family: Autour One;
}
.nav-link::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: #ff3131be;
  transition: width 0.4s;
}

.nav-link:hover::after {
  width: 60%;
}
.navbaricon {
  width: 30px;
}
/* End Navbar */

.uparrow-icon {
  width: 18px;
}
.to-top {
  position: fixed;
  bottom: 16px;
  right: 12px;
  width: 32px;
  height: 32px;
  border-radius: 58%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  background-color: #181a1fd7;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}
.to-top.active {
  bottom: 12px;
  pointer-events: auto;
  opacity: 1;
}
main {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

/* Home  */
.home {
  background-image: url(./image/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  position: relative;
  color: white;
  display: grid;
  place-items: center;
}
.names {
  opacity: 0;
  transform: translateY(2rem);
  animation: fadeInUp 1s ease forwards;
  animation-delay: 0.8s;
}
.home-name {
  line-height: 20px;
  font-family: poppins;
}
.myname {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -2px;
}
.jobposition {
  font-size: 10px;
  font-weight: 300;
  color: grey;
  text-transform: uppercase;
  left: 150px;
  letter-spacing: 6px;
}
.myimage {
  display: grid;
  place-items: center;
  opacity: 0;
  transform: translateX(2rem);
  animation: fadeInUp 1s ease forwards;
  animation-delay: 1s;
}
.myimage img {
  height: auto;
  width: 50%;
}
.downloadicon {
  width: 13px;
}
.icon-links {
  position: absolute;
  top: 65%;
  right: 15px;
  height: 140px;
  width: 30px;
}
.small-icon {
  width: 20px;
  transition: transform 0.2s;
}
.small-icon:hover {
  transform: scale(1.5);
  cursor: pointer;
}
.navlinks {
  position: relative;
  animation: animate 0.3s;
  animation-fill-mode: backwards;
}
.navlinks li:nth-child(1) {
  position: relative;
  animation: animate 0.5s;
  animation-fill-mode: backwards;
}
.navlinks li:nth-child(2) {
  position: relative;
  animation: animate 0.7s;
  animation-fill-mode: backwards;
}
.navlinks li:nth-child(3) {
  position: relative;
  animation: animate 0.9s;
  animation-fill-mode: backwards;
}
.navlinks li:nth-child(4) {
  position: relative;
  animation: animate 1.1s;
  animation-fill-mode: backwards;
}
.icon-links a:nth-child(1) {
  opacity: 0;
  transform: translateY(2rem);
  animation: fadeInUp 1s ease forwards;
  animation-delay: 1.4s;
}
.icon-links a:nth-child(2) {
  opacity: 0;
  transform: translateY(2rem);
  animation: fadeInUp 1s ease forwards;
  animation-delay: 1.6s;
}
.icon-links a:nth-child(3) {
  opacity: 0;
  transform: translateY(2rem);
  animation: fadeInUp 1s ease forwards;
  animation-delay: 1.8s;
}

@keyframes animate {
  0% {
    top: -600px;
  }
  100% {
    top: -600px;
  }
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*End Home  */

/* Work  */
.work-inner {
  margin: 85px auto;
}
.work-title {
  font-family: Young;
  font-size: 30px;
  font-weight: 700;
  overflow-wrap: break-word;
  line-height: 80px;
  margin-bottom: 25px;
  color: #313c4d;
}
.work-title span {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #313c4d;
  color: #181a1f;
}
.work-msg {
  font-size: 14px;
  font-family: Georgia;
  letter-spacing: 1px;
}
.img-card {
  transition: all 0.5s;
  overflow: hidden;
  z-index: 0;
}
.card-inner {
  overflow: hidden;
}
.card {
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  border: none;
}
.card-body {
  position: relative;
  z-index: 1;
}
.card-body span {
  font-size: 12px;
  padding: 8px 12px;
  background-color: white;
  position: absolute;
  top: -25px;
  right: 0px;
  font-family: Autour One;
}
.card:hover .img-card {
  transform: scale(1.2);
}
.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 15px;
  margin-top: 25px;
}
/* End Work  */

/* Technologies   */
.technologies {
  background-color: #6499e9;
  padding: 95px 0;
}
.technologies-title {
  font-family: Orelega One;
  font-size: 40px;
  line-height: 80px;
  letter-spacing: 2px;
  margin-bottom: 25px;
  color: white;
  overflow-wrap: break-word;
}
.technologies-title span {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: white;
  color: #313c4d;
}
.technologies-msg {
  color: white;
  font-size: 14px;
  font-family: Georgia;
  letter-spacing: 1px;
}
.image-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 55px;
  margin-top: 25px;
  border-top: 3px solid white;
  padding-top: 30px;
}
.image-container img {
  height: 90px;
}
/* End Technologies   */

/* About  */
.about {
  margin: 80px auto;
}
.about-title {
  font-family: Young;
  font-size: 40px;
  font-weight: 700;
  overflow-wrap: break-word;
  line-height: 80px;
  color: #313c4d;
}
.about-title span {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #313c4d;
  color: #181a1f;
}
.about-msg {
  font-size: 14px;
  font-family: Georgia;
  letter-spacing: 1px;
}
.about-box {
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: minmax(100px, auto);
  grid-auto-flow: dense;
  grid-gap: 10px;
}
.content img {
  max-width: 100%;
  object-fit: cover;
}
.box img {
  max-width: 100%;
  padding: 0;
  margin: 0;
  object-fit: cover;
}
.box {
  display: grid;
  place-items: stretch;
}
.box:nth-child(1) {
  grid-column: span 2;
  grid-row: span 1;
}
.box:nth-child(2) {
  grid-column: span 1;
  grid-row: span 2;
}
.box:nth-child(4) {
  grid-column: span 1;
  grid-row: span 2;
}
.box:nth-child(5) {
  grid-column: span 3;
  grid-row: span 1;
}
.thecard {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.6s ease;
}
.thecard:hover {
  transform: rotateY(180deg);
}
.theback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  background: #6499e9;
  color: white;
  transform: rotateY(180deg);
  font-family: Georgia;
}
.carousel {
  width: auto;
}
.carousel-photo {
  object-fit: cover;
  height: 300px;
}
/* End About  */

/* Contact  */
.contact {
  padding-top: 90px;
}
.downloadcv {
  width: 150px;
  height: 50px;
  border-radius: 30px;
  letter-spacing: 1px;
  font-family: Georgia;
}
.contact-inner {
  background: #6499e9;
  height: 120px;
}
.contact-inner p {
  font-family: Young;
  font-weight: 700;
  font-size: 35px;
}
.contact-p {
  margin: 120px 0;
  font-family: Georgia;
  letter-spacing: 1.5px;
}

/* End Contact  */

/* MEDIA QUERY  */
@media only screen and (max-width: 480px) {
}
@media only screen and (min-width: 481px) {
  .home-name {
    line-height: 20px;
  }
  .myname {
    font-size: 35px;
    letter-spacing: -2px;
  }
  .jobposition {
    font-size: 12px;
    letter-spacing: 7px;
  }
  .myimage img {
    width: 50%;
  }
}
@media only screen and (min-width: 769px) {
  .myimage img {
    width: 70%;
  }
  .home-name {
    line-height: 30px;
  }
  .myname {
    font-size: 45px;
    letter-spacing: -3px;
  }
  .jobposition {
    font-size: 12px;
    letter-spacing: 8px;
  }
  .myimage img {
    width: 300px;
  }
  .to-top.active {
    bottom: 25px;
    right: 32px;
    width: 48px;
    height: 48px;
  }
  .uparrow-icon {
    width: 22px;
  }
  .work-title {
    font-size: 40px;
  }
  .contact-inner p {
    font-size: 60px;
  }
  .downloadcv {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    letter-spacing: 2px;
    font-family: Georgia;
  }
}
@media only screen and (min-width: 991px) {
  .carousel {
    display: none;
  }
  .contact-content {
    margin: 90px 90px 0 90px;
  }
  .contact-inner {
    border-radius: 15px;
  }
}
@media only screen and (max-width: 991px) {
  .about-box {
    display: none;
  }
}
@media only screen and (min-width: 1025px) {
  .nav-link:hover::after {
    width: 100%;
  }
  .home-name {
    line-height: 20px;
    width: 100%;
  }
  .myname {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -2px;
  }
  .jobposition {
    font-size: 12px;
    letter-spacing: 8px;
  }
  .home {
    height: 95vh;
  }
  .myimage img {
    width: 400px;
  }
  .work-title {
    font-size: 55px;
  }
}
@media only screen and (min-width: 1201px) {
  .home-name {
    line-height: 30px;
  }
  .myname {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: -5px;
    width: 100%;
  }
  .jobposition {
    font-size: 18px;
    letter-spacing: 10px;
  }
  .home {
    height: 95vh;
  }
  .myimage img {
    width: 400px;
  }
  .work-title {
    font-size: 60px;
    margin-bottom: 40px;
  }
}
